footer {
  width: 100vw;
  height: 20rem;
  position: relative;
  background-color: lightgray;
}
footer .about {
  background-color: black;
  width: 80vw;
  border: 2px solid white;
  border-radius: 15px;
  display: flex;
  align-items: center;
  height: 8rem;
  bottom: 300px;
  left: 8rem;
  justify-content: space-around;
  position: absolute;
}
footer .about .first_h {
  color: white;
  text-align: center;
}
footer .about .search {
  flex-direction: column;
  gap: 20px;
  align-items: center;
  display: flex;
}
footer .about .search input, footer .about .search button {
  height: 30px;
  border: 1px solid white;
  border-radius: 15px;
  width: 200px;
  flex-direction: column;
}
footer .title {
  display: flex;
  padding: 20px;
  justify-content: space-evenly;
}
footer .title div {
  display: block;
  color: black;
  padding: 10px;
  background-color: lightgray;
}
footer .title div a {
  text-decoration: none;
  color: gray;
}
footer section {
  display: flex;
  justify-content: space-between;
  padding-left: 20px;
}
footer section p a {
  text-decoration: none;
  color: gray;
}
@media screen and (max-width: 540px) {
  footer .about {
    flex-direction: column;
    height: 27vh;
  }
  footer .title {
    flex-direction: column;
    max-height: 120rem;
  }
  footer section {
    display: block;
  }
  footer .first_h {
    flex-direction: column;
  }
  footer .search {
    flex-direction: column;
  }
  footer footer {
    max-height: 120rem;
  }
}

.product_m {
  padding: 30px;
  padding-top: 0;
}
.product_m .links {
  padding: 10px;
  gap: 6px;
}
.product_m .links a {
  text-decoration: none;
  color: gray;
}
.product_m .links a:hover {
  color: black;
}
.product_m .fa-angle-up {
  transform: rotate(90deg);
  color: black;
}
.product_m .bolimlar {
  height: 50px;
  border-bottom: 1px solid gray;
  display: flex;
  justify-content: space-around;
  align-items: center;
  left: 130px;
}
.product_m .bolimlar:active {
  border-bottom: 2px solid black;
}
.product_m .bolimlar a {
  text-decoration: none;
  color: gray;
}
.product_m .bolimlar a:hover {
  border-bottom: 2px solid black;
}
.product_m .third_section {
  display: flex;
  justify-content: space-between;
  height: 50px;
  padding-top: 10px;
}
.product_m .all {
  display: flex;
  padding: 10px;
  justify-content: space-around;
}
.product_m .all .repos {
  padding: 10px;
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.product_m .all .repos .source {
  max-width: 50rem;
  height: 250px;
  border-radius: 15px;
  border: 1px solid rgb(218, 200, 200);
  padding: 20px;
}
.product_m .all .repos .source .mark {
  display: flex;
  justify-content: space-between;
  padding-right: 6px;
}
.product_m .submit {
  text-align: center;
}
.product_m .submit .load {
  width: 30vw;
  height: 50px;
  border: 1px solid lightcyan;
  border-radius: 30px;
  background-color: rgb(230, 237, 237);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  left: 500px;
}
.product_m .inform {
  display: flex;
  gap: 10px;
  padding: 10px;
}
.product_m .inform h2 span {
  text-decoration: line-through;
  color: gray;
}
.product_m .inform h4 {
  color: gray;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.product_m .inform .price {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.product_m .inform .price .narx {
  display: flex;
  align-items: center;
  text-align: center;
  gap: 5px;
}
.product_m .inform .price #prosent {
  display: inline;
  border-radius: 30px;
  border: 1px solid white;
  height: 30px;
  background-color: pink;
  color: red;
}
.product_m .inform .comfort {
  color: gray;
}
.product_m .inform nav {
  display: flex;
  gap: 5px;
}
.product_m .inform nav .color {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: blue;
}
.product_m .inform nav .brown {
  background-color: darkred;
}
.product_m .inform nav .green {
  background-color: darkslategray;
}
.product_m .inform nav .violet {
  background-color: darkmagenta;
}
.product_m .inform section {
  display: flex;
  gap: 5px;
}
.product_m .inform section .black_b {
  background-color: black;
  color: white;
}
.product_m .inform section button {
  height: 45px;
  width: 90px;
  border: 1px solid white;
  border-radius: 25px;
  background-color: lightgrey;
}
.product_m .inform .cart {
  display: flex;
  gap: 10px;
}
.product_m .inform .cart .size {
  height: 45px;
  width: 90px;
  border: 1px solid white;
  border-radius: 25px;
  background-color: lightgrey;
  align-items: center;
  text-align: center;
  display: flex;
  justify-content: space-around;
}
.product_m .inform .cart .size a {
  text-decoration: none;
  color: black;
}
.product_m .inform .cart button {
  height: 45px;
  width: 300px;
  border-radius: 25px;
  background-color: black;
  color: white;
}
.product_m .a-cards {
  display: flex;
  gap: 5px;
  padding: 10px;
  flex-wrap: wrap;
}
.product_m #a-card {
  height: 410px;
  max-width: 15rem;
  transition: 0.5s;
}
.product_m #a-card:hover {
  transform: scale(1, 1.1);
}
.product_m #a-card img {
  max-width: 15rem;
}
.product_m .a-c-stars i {
  color: #ffc633;
}
@media screen and (max-width: 540px) {
  .product_m .inform {
    flex-direction: column;
  }
  .product_m .inform .cart .size {
    width: 7rem;
    height: 25px;
  }
  .product_m .inform .cart .size button {
    width: 150;
    height: 25px;
  }
  .product_m .third_section {
    flex-direction: row;
  }
  .product_m .third_section .menu {
    flex-direction: row;
  }
  .product_m .third_section .menu img {
    width: 3rem;
    height: 25px;
  }
}
@media screen and (max-width: 500px) {
  .product_m .all {
    flex-direction: column;
    gap: 0;
  }
  .product_m .repos {
    width: 200px;
  }
  .product_m .repos .source {
    width: 300px;
    height: 180px;
  }
  .product_m .repos .source .mark {
    width: auto;
  }
  .product_m .a-cards {
    padding: 2px;
    margin: auto;
  }
}

main {
  background-color: #F2F0F1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 600px;
  position: relative;
}
main .mainimg {
  width: 900px;
}
main .mainimg .boy {
  width: 520px;
  position: absolute;
  right: 100px;
  top: 0px;
}
main .mainimg .star {
  position: absolute;
  right: 50px;
  top: 50px;
}
main .mainimg .star1 {
  position: absolute;
  top: 270px;
  right: 630px;
}
main .maininformation h1 {
  font-size: 60px;
}
main .maininformation .shop {
  width: 170px;
  height: 35px;
  border-radius: 20px;
  background-color: black;
  color: white;
}
main .maininformation .numbers {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 500px;
  height: 200px;
}
main .maininformation .numbers div h2 {
  font-size: 40px;
}

.text {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

header {
  display: flex;
  justify-content: space-between;
  height: 50px;
}
header .headsection {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 300px;
}
header .search {
  width: 600px;
  height: 25px;
  border: 1px solid black;
  border-radius: 15px;
  background-color: #F0F0F0;
  color: rgba(0, 0, 0, 0.504);
  display: flex;
  align-items: center;
  padding-left: 10px;
  gap: 10px;
}
header .headshop {
  width: 50px;
  height: 20px;
  border: 1px solid 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.section {
  width: 100%;
  height: 140px;
  border: 1px solid red;
  background-color: black;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.section div {
  font-size: 50px;
}

.shop .charge h2 {
  text-align: center;
  font-size: 50px;
  height: 90px;
}
.shop .charge .products {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.shop .charge .products .product {
  width: 300px;
  height: 350px;
}
.shop .charge .products .product .img {
  width: 100%;
  height: 80%;
}
.shop .charge .products .product .img img {
  width: 100%;
  height: 100%;
}

.pay {
  display: flex;
  flex-direction: column;
}

.stars {
  display: flex;
  align-items: center;
  gap: 10px;
}

.price {
  display: flex;
  align-items: center;
  gap: 20px;
}
.price del h3 {
  color: rgb(111, 111, 111);
}
.price h3 {
  font-size: 25px;
}
.price .discount {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 17px;
  border-radius: 10px;
  background-color: antiquewhite;
  color: red;
}

.view {
  width: 170px;
  height: 40px;
  border-radius: 25px;
  border-color: rgba(128, 123, 123, 0.415);
  background-color: white;
}

.touch {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 150px;
}

.views {
  width: 100%;
  height: 650px;
  border: 1px solid black;
  background-color: #F0F0F0;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}
.views h2 {
  font-size: 50px;
  text-align: center;
}
.views .appearance {
  width: 85%;
  height: 250px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.views .appearance h2 {
  font-size: 30px;
  text-align: left;
}

.casual {
  width: 32%;
  height: 100%;
  border: 1px solid transparent;
  border-radius: 15px;
  background-color: white;
  background-image: url(https://dentrixdentalcare.com/wp-content/uploads/2016/08/Oral-Health-Between-Men-and-Women-1080x675.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding-left: 10px;
  padding-top: 10px;
}

.formal {
  width: 65%;
  height: 100%;
  border: 1px solid transparent;
  border-radius: 15px;
  background-color: white;
  background-image: url(https://st3.depositphotos.com/1004219/15490/i/1600/depositphotos_154905666-stock-photo-young-couple-in-formal-dresses.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding-left: 10px;
  padding-top: 10px;
}

.party {
  width: 65%;
  height: 100%;
  border: 1px solid transparent;
  border-radius: 15px;
  background-color: white;
  background-image: url(https://i.ebayimg.com/images/g/KbIAAOSw2Chj~dGf/s-l1600.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding-left: 10px;
  padding-top: 10px;
}

.gym {
  width: 32%;
  height: 100%;
  border: 1px solid transparent;
  border-radius: 15px;
  background-color: white;
  background-image: url(https://media.gq-magazine.co.uk/photos/6617f0a1efbaebc1433f38d5/3:4/w_748%2Cc_limit/GymClothes_Nike.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding-left: 10px;
  padding-top: 10px;
}

.comments {
  padding-top: 30px;
}
.comments h2 {
  font-size: 50px;
}
.comments i {
  font-size: 30px;
}
.comments .line {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.comments .line .arrow {
  width: 100px;
  display: flex;
  justify-content: space-between;
}

.comment {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  height: 400px;
}

.people {
  width: 500px;
  height: 330px;
  border: 1px solid rgb(216, 216, 216);
  border-radius: 20px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.homecontainer {
  padding: 30px 30px;
}

/*# sourceMappingURL=style.css.map */
