footer {
    width: 100vw;
    height: 20rem;
     position: relative;
    background-color: lightgray;
   

    .about {
        background-color: black;
        width: 80vw;
        border: 2px solid white;
        border-radius: 15px;
        display: flex;
        align-items: center;
        height: 8rem;
        bottom: 300px;
        left: 8rem;
        justify-content: space-around;
        position: absolute;
     


        .first_h {
            color: white;
            text-align: center;

        }

        .search {
            flex-direction: column;
            gap: 20px;
            align-items: center;
            display: flex;

            input {
                height: 30px;
                border: 1px solid white;
                border-radius: 15px;
                width: 200px;
                flex-direction: column;
            }

            button {
                @extend input
            }
        }
    }

    .title {
        display: flex;
        padding: 20px;
        justify-content: space-evenly;

        div {
            display: block;
            color: black;
            padding: 10px;
            background-color: lightgray;

            a {
                text-decoration: none;
                color: gray;
            }
        }
    }

    section {
        display: flex;
        justify-content: space-between;
        padding-left: 20px;

        p a {
            text-decoration: none;
            color: gray;
        }

    }

    @media screen and (max-width:540px) {
        .about {
            flex-direction: column;
            height: 27vh;
          
        }

        .title {
            flex-direction: column;
            max-height: 120rem;

        }

        section {
            display: block;
        }

        .first_h {
            flex-direction: column;
        }

        .search {
            flex-direction: column;
        }

        footer {

            max-height: 120rem;
        }
    }
}