/* asos */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 700;
}
a {
  text-decoration: none;
}
b {
  color: #000000;
}
hr {
  height: 2px;
  border: none;
  color: #0000001A;
  background-color: #0000001A;
}

/* semantics */
header, .header, nav, .nav, main, .main, footer, .footer, .a-cards, .a-c-stars, .c-fixed_p, #discount_p, .a-pgs_num {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
header, nav, main, footer {
  width: 99vw;
}
.header, .nav, .main, .footer {
  width: 100rem;
}
.nav {
  height: 50px;
  justify-content: flex-start;
}
.main {
  justify-content: flex-start;
  align-items: flex-start;
}
.main a, .main p {
  color: #00000099;
}

/* filtr */
section {
  width: 20rem;
  height: 1170px;
  border: 2px solid #0000001A;
  border-radius: 20px;
}
section button {
  border: none;
  border-radius: 62px;
  gap: 12px;
}
#f-btn {
  height: 48px;
  background-color: #000000;
  color: #ffffff;
}
#f-btn:hover {
  background-color: #f0f0f0;
  color: #00000099;
  transition: 0.5s ease;
}

/* umumiylar */
section, .f-types, .f-price, .f-color, .f-size, .f-dress_style, .f-dress_styles, #a-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.f-intro, #f-type, .f-price-h, .f-price_range, .f-color-h, .f-colors, .f-size-h, .f-sizes, .f-dress_style-h, .a-header, .a-h-sort, .a-pgs_ctrl {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
}
.f-types, .f-price, .f-color, .f-size, .f-dress_style, .f-dress_styles, .f-intro, #f-type, .f-price-h, .f-price_range, .f-color-h, .f-colors, .f-size-h, .f-sizes, .f-dress_style-h, #f-btn, section hr {
  width: 247px;
}
.f-colors, .f-sizes, .a-cards {
  flex-wrap: wrap;
}

/* filtr narx_bowqariw */
.f-price_range {
  position: relative;
  height: 43px;
}
#min-range, #max-range {
  width: 130px;
  position: absolute;
}
#min-range {
  transform: rotate(180deg);
}
#max-range {
  left: 120px;
}

/* filtr rang */
#f-color {
  width: 37px;
  height: 37px;
  border: 2px solid #00000033;
  border-radius: 50%;
  text-align: center;
  align-content: center;
}
#f-color i {
  display: none;
  color: #ffffff;
}
#f-color:hover i {
  display: block;
  transition: 0.5s ease;
}

/* filtr razmer */
#f-size {
  height: 39px;
  background-color: #f0f0f0;
  color: #00000099;
}
#f-size:hover {
  background-color: #000000;
  color: #ffffff;
  transition: 0.5s ease;
}

/* aside */
aside, aside hr {
  width: 80rem;
}

/* aside card-lar */
.a-cards {
  justify-content: flex-start;
  flex-wrap: wrap;
}
#a-card {
  max-width: 300px;
  height: 408px;
  align-items: flex-start;
  gap: 8px;
}
.a-c-stars {
  gap: 8px;
}
.a-c-stars i {
  color: #ffc633;
}
#f_p-color {
  color: #00000066;
}
#discount_p {
  width: 58px;
  height: 28px;
  border-radius: 62px;
  gap: 12px;
  background-color: #ff33331a;
  color: #ff3333;
}

/* aside sahifa */
#pre_nxt {
  height: 36px;
  border: 2px solid #0000001A;
  border-radius: 8px;
  background-color: #ffffff;
}
.a-b-previous {
  width: 110px
}
.a-b-next {
  width: 86px;
}
.a-pgs_num button {
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 8px;
  background-color: #ffffff;
}
.a-pgs_num button:hover, #pre_nxt:hover, #f-type:hover {
  border: none;
  background-color: #0000000F;
}

/* media */
@media screen and (max-width: 390px) {
  * {
    font-size: 12px;
  }
  body {
    width: 390px;
    height: auto;
  }
  .nav {
    width: 359px;
  }
  section {
    display: none;
  }
  .a-header, .a-cards, .a-pgs_ctrl {
    width: 359px;
  }
  .a-header + h1 {
    font-size: 24px;
  }
  .a-h-sort_by {
    display: none;
  }
  #a-card {
    width: 172px;
    height: 250px;
  }
  #a-card img {
    width: 172px;
    height: 174px;
  }
  aside hr {
    width: 358px;
  }
  .a-pgs_ctrl {
    width: 359px;
  }
  .a-b-previous {
    width: 90px;
  }
  .a-b-next {
    width: 73px;
  }
  .a-pgs_num button {
    width: 36px;
    height: 36px;
  }
  #none_btn {
    display: none;
  }
}